@import "/css-assihment/theme.css";

*{
    box-sizing: border-box;
    margin:0;
}

body{
    font-family: var(--ff-monteserrat);
    background-color: var(--mavi-9);
    color: var(--siyah);
    margin: 1rem;
}
h1{
    background-color: var(--koyu-kirmizi);
    width: 20rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 2rem auto;
}
.header{
    background-color: var(--acik-yesil);
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.navbar{
    background-color: var(--gri-3);
    display: flex;
    justify-content: flex-start;
}
.navbar a{
    text-decoration: none;
    color: var(--beyaz);
    padding: 1rem;
    
}
.navbar a:hover{
    background-color: var(--gri-7);
    color: var(--siyah);
}
.row{
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: center;
}
.col{
    padding: 1rem;
}

.fs{
    width: 35%;
    background-color: var(--gri-5);

}
.aws{
    width: 20%;
    background-color: var(--gri-6);
}
.data{
    width: 30%;
    background-color: var(--gri-7);
}
.cms{
    width: 15%;
    background-color: var(--gri-8);
}

@media screen and (min-width:600px) and (max-width:992px){
    body{
        color: var(--beyaz);
        background-color: var(--acik-kirmizi);
    }
    .col{
        width: 50%;
        margin: 0.5rem 0;
    }
    
}


@media screen and (min-width:0) and (max-width:600px){
    body{
        background-color: var(--mor);
        color: var(--beyaz);
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col{
        width: 100%;
        margin: 0.5rem 0;
    }
    .header{
        display: none;
    }
    h1{
        width: 15rem;
    }
}